* {
  box-sizing: border-box;
}

form {
  display: block;
  position: relative;
  width: 70vw;
  margin: 2rem auto;
}

input {
  width: 100%;
  padding: 1rem;
}
.suggestion {
  cursor: pointer;
}

.suggestion:hover {
  background: #ccc;
}

.suggetions-container {
  padding: 1rem;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  width: 100%;
  background: white;
  border: 1px solid blue;
}

.photos-container {
  width: 70vw;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

img {
  max-width: 90%;
  margin: 1rem auto;
}
